{% extends "base.html" %}

{% block titulo %} Capítulos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-body">



                    <div class="row justify-content-md-center">
                                {% for capitulo in capitulos %}

                                    {% if capitulo.visto %}
                                            <div class="col-md-auto">{{ capitulo.id_capitulo }}: 
                                                <a href="{% url 'resenia_Capitulo' capitulo.id_capitulo %}">{{ capitulo.titulo_ingles }}</a>
                                                
                                            </div>
                                        {% else %}
                                            <div class="col-md-auto">{{ capitulo.id_capitulo }}: {{ capitulo.titulo_ingles }}
                                            </div>
                                    {% endif %}

                                {% endfor %}
                    </div>



    </div>

</div> 

{% endblock %}
