{% extends "base.html" %}

{% block titulo %} Capítulo {% endblock %}

{% block contenido %} 

<div class="card">

    <div class="card-body">

        <div class="container">

            <div class="row">

                <h4>Episodio {{ capitulos.numero }}                
                </h4>
                <h2 class="card-title">{{ capitulos.titulo_ingles }}</h2>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-3">


                        <img src="{{ capitulos.imagen_vertical.url }}" width="100%" float="right" srcset="">
                </div>


                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-3">
                        <img src="{{ capitulos.imagen1_horizontal.url }}" width="100%" float="right" srcset="" style="margin-bottom: 10px">
                        <img src="{{ capitulos.imagen2_horizontal.url }}" width="100%" float="right" srcset="">
                </div>

                <div class="card col-xs-12 col-sm-12 col-md-8 col-lg-6">

                    {% if reviews %}  
                        <p>
                            <h4>Reseña</h4>
                             {{ reviews.textoreview }}   
                        </p>
                    {% endif %}

                </div>

            </div>

        </div>
    </div>

    <div class="card-body">

        <div class="container">

            <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                <h4>Frases</h4>
                <p>
                Chief Superintendent Strange: Well, I've got some good and bad news for you Morse. We're not going to give you the Super's job.
                <br>Chief Inspector Morse: Right.
                </p>
            </div>

           <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">

                {% if invitados %}    
                <h4>Estrellas invitadas</h4>

                    {% for invitado in invitados %}
                        <img class="avataractor_chico" src="{{ invitado.imageninvitado.url }}" width="100%" float="right" srcset="">
                    {% endfor %}
                {% endif %}

            </div>

        </div>
    </div>
</div>

</div> 

{% endblock %}